{% extends 'top_menu.html' %}
{% block content %}
<div class="container">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div class=ex1><h1>Датасет данных по Океанам</h1></div>

    <h2 class="ex2">Количество строк: {{ dataset_info.n_rows}}</h2>
    <h2>Количество столбцов: {{ dataset_info.n_columns}}</h2>

    <h2>Столбцы датафрейма:</h2>

    <ul class="border">
        {% for column, data_type in dataset_info.column_types.items %}
            <li>{{ column }}: {{ data_type }}</li>
        {% endfor %}
    </ul>

    <h2 >График со значениями столбца gulfstqe</h2>
    <div id="plot_gulfstqe"></div>

    <h2>График со значениями столбца gulfstqh</h2>
    <div id="plot_gulfstqh"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var thirdColumnData = [];

    {% for i in dataset_info.gulfstqe %}
        thirdColumnData.push({{ i | safe }});
    {% endfor %}

    console.log(thirdColumnData);

    var xData = [];
    var yData = [];

    // Создание массивов xData и yData
    for (var i = 0; i < thirdColumnData.length; i++) {
        xData.push(i); // Используем индексы списка как значения x
        yData.push(thirdColumnData[i]); // Добавляем значения из списка как значения y
    }

    var data = [{
        x: xData,
        y: yData,
        mode: 'lines',
        type: 'scatter'
    }];

    Plotly.newPlot('plot_gulfstqe', data);
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var trainData = [];
    var testData = [];

    {% for i in dataset_info.train_values.gulfstqh %}
        trainData.push({{ i | safe }});
    {% endfor %}

     {% for i in dataset_info.test_values.gulfstqh %}
        testData.push({{ i | safe }});
    {% endfor %}

    // console.log(thirdColumnData);

    var xData = [];
    var yData = [];
    var xData_test = [];
    var yData_test = [];

    // Создание массивов xData и yData
    for (var i = 0; i < trainData.length; i++) {
        xData.push(i); // Используем индексы списка как значения x
        yData.push(trainData[i]); // Добавляем значения из списка как значения y
    }

    for (var i = 0; i < testData.length; i++) {
        xData_test.push(i + trainData.length); // Используем индексы списка как значения x
        yData_test.push(testData[i]); // Добавляем значения из списка как значения y
    }


    var data = [{
        x: xData,
        y: yData,
        mode: 'lines',
        type: 'scatter',
        name: 'Train значения'
    }, {
        x: xData_test,
        y: yData_test,
        mode: 'lines',
        type: 'scatter',
        line: {color: 'red'},
        name: 'Test значения'
    }];


    var layout = {
    legend: {
        x: 0,
        y: 1,
        yanchor: 'top',
        font: {
            size: 14
        }
    }
    };

    Plotly.newPlot('plot_gulfstqh', data, layout);
});
</script>

</div>
{% endblock %}